.footer{
    background-color: rgb(27, 132, 136);
}

.fb{
    height: 50px;
    width: 50px; 
}

.insta{
    height: 50px;
    width: 50px; 
}

.twitter{
    height: 50px;
    width: 50px; 
}

.bottomfooter{
    text-align: center;
}

.devdeakin{
    text-align: center;
}